<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd0Woihl3LP8mWDNO3o41A6BfaFnFIMYo</string>
	<key>GCM_SENDER_ID</key>
	<string>1000845422249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgarsamo.ereft</string>
	<key>PROJECT_ID</key>
	<string>ereft-6fd24</string>
	<key>STORAGE_BUCKET</key>
	<string>ereft-6fd24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000845422249:ios:60a1d70078dbcf2ec783b8</string>
	<key>DATABASE_URL</key>
	<string>https://ereft-6fd24-default-rtdb.firebaseio.com</string>
</dict>
</plist>